html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: white;
}

main {
    height: 100vh;
    width: 80vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen-container {
    background-color: gray;
    border: 5px solid silver;
    height: 80vh;
    width: 60vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* text history */

#chat-history {
    border: 1px solid white;
    border-radius: 10px;
    margin: 1rem;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-bubble {
    padding: 1rem;
    margin: .5rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 20vw;
}

.recieved-messages {
    background-color: red;
    align-self: flex-start;
}

.sent-messages {
    background-color: blue;
    align-self: flex-end;
}

.timestamp {
    padding-top: .5rem;
    font-size: .75rem;
    align-self: flex-end;
}


/* user controls */

#chat-controls {
    border: 1px solid white;
    border-radius: 10px;
    margin: 1rem;
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username {
    margin: 1rem;
    padding: .5rem;
    width: 20vw;
    border-radius: 10px;
}

textarea,
#username-input {
    margin: 1rem;
    padding: .5rem;
    width: 20vw;
    border-radius: 10px;
}

button {
    margin: 1rem;
    padding: .5rem;
    border-radius: 10px;
    color: white;
    background-color: red;
    border: 2px solid blue;
}

button:hover {
    color: tan;
    background-color: blue;
    border: 1px solid red;
}

@media only screen and (max-width: 800px) {
    main {
        width: 100vw;
    }
    #screen-container {
        height: 80vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #chat-history {
        border: 1px solid white;
        border-radius: 10px;
        margin: .5rem;
        height: 70vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .message-bubble {
        width: 70vw;
    }
    #chat-controls {
        border: 1px solid white;
        border-radius: 10px;
        margin: .5rem;
        height: 70vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    textarea,
    #username {
        width: 60vw;
    }
    button {}
}